<section class="content">
    <div class="container-fluid">       
        <div class="card card-primary">
            <div class="card-header">
                <h3>Edit Product</h3>
            </div>

            <ng-container *ngIf="editProductForm != null">
                <div class="card-body">
                    <form method="post" [formGroup]="editProductForm" (ngSubmit)="save()">
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <input type="text" style="width: 400px;" pInputText formControlName="name" />
                                </td>
                            </tr>
                            <br />
                            <tr>
                                <td>Description</td>
                                <td>
                                    <textarea cols="40" rows="5" pInputTextarea
                                        formControlName="description"></textarea>
                                </td>
                            </tr>
                            <br/>
                            <tr>
                                <td>Price</td>
                                <td>
                                    <input type="text" pInputText formControlName="price" />
                                </td>
                            </tr>
                            <br> 
                            <tr>
                                <td>Category</td>
                                <select class="custom-select rounded-0" formControlName="categoryId">
                                    <ng-container *ngIf="categories != null">
                                        <option *ngFor="let category of categories" value="{{ category.id }}">
                                            {{ category.name }}
                                        </option>
                                    </ng-container>
                                </select>
                            </tr>
                            <br />
                            <tr>
                                <td>File</td>
                                <td>
                                    <input type="file" class="btn btn-block btn-default btn-lg" (change)="selectFile($event)" />
                                    <br />
                                    <img src="{{ product.image }}" width="90" height="100" />
                                </td>
                            </tr>
                            <br />
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p-button label="Save" (onClick)="save()"></p-button>
                                    &nbsp;
                                    <p-button label="Cancel" [routerLink]="['/admin/product-listing']"></p-button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<p-toast></p-toast>